<%= link_to '<< Back to posts', posts_path %>

<h1><%= @post.title %></h1>
<div style="margin-bottom: 50px">
  <%=  @post.body%>
</div>


<%= render :partial => 'posts/cmt_form' %>


<% if @post.comments.count > 0%>

	<h2 style="margin-top: 40px">Comments:</h2>
	
	<% @post.comments.each do |comment|%>
		<% next unless comment.id%>
		
		<div style="margin: 20px">
			<b><%=comment.name%></b>:
			<div><%=comment.text%></div>
			<small><%=comment.created_at%></small>
			 <%= check_own(@post) ? (link_to "Delete", [@post, comment], :method => :delete,
	    :confirm => 'Are you out of your mind?', :style=> 'margin-left: 20px') : '' %>
	 	
	 	</div>
 
	<% end %>

<%end%>

