<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Blog</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


<div id="wrap">
<div id="header">
	<h1>Rails3Blog</h1>
</div>

<div id="nav">
	<ul>
		<li><%= link_to 'Posts', posts_path %></li>
	</ul>
</div>

<div id="content">


<div style=" float: right">
	<% if user_signed_in? %>
	  Signed in as <b><%= current_user.username.capitalize %></b>. Not you?
	  <%= link_to "Sign out", destroy_user_session_path %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>

<% if flash[:notice] %>
    <div style="border: 1px dashed green; padding: 20px; width: 300px"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</div>
</div>
<div id="footer">
&copy; 2010 [<a href="https://github.com/HeeL/Blog" target="_blank">Open Source</a>]
</div>
</body>
</html>